
# 这是最重要的一条！Cloudflare Pages 会在服务器上为您生成此目录。
public/

# 忽略 Hugo 的资源缓存目录
# 它可以被重新生成，提交它会不必要地增大仓库体积。
resources/

# 忽略 Hugo 构建时生成的锁文件
.hugo_build.lock

# ----------------------------------------------------
# 依赖和环境
# ----------------------------------------------------

# 忽略 Node.js 依赖目录 (如果您使用 PostCSS, TailwindCSS 等)
node_modules/

# 忽略日志文件
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 忽略环境变量文件 (可能包含密码或密钥，非常重要！)
.env
.env.*
!.env.example


# ----------------------------------------------------
# 常见的操作系统和编辑器文件
# ----------------------------------------------------

# macOS
.DS_Store

# VS Code 编辑器配置
.vscode/